name: called-dowload-workflow

# Controls when the workflow will run
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: build-files

      - run: ls -R
      - run: cat test.txt

      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: caller-files

      - run: ls -R
      - run: cat test.txt

