name: called-dowload-workflow

# Controls when the workflow will run
on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4

    - name: Set up Java 17
        uses: actions/setup-java@v3
        with:
          distribution: microsoft
          java-version: 17
      # Gradleビルドを実行
      - uses: gradle/gradle-build-action@v3
        with:
          arguments: build

      - run: ls -R

      - uses: actions/upload-artifact@v4
        with:
          name: build-files
          path: build/libs/


